.weather {
  text-align: center;
}

.weather {
  margin: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.singleItem:hover {
  background-color: lightgrey;
}

#bloc1, #bloc2, #bloc3
{
  display:inline;
  font-family: 'Open Sans', sans-serif;
}
