.weather {
  text-align: center;
}

.weather {
  margin: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.singleItem:hover {
  background-color: lightgrey;
}

#bloc1, #bloc2, #bloc3, #bloc4, #bloc5 {
  display:inline;
}

#bloc1, #bloc2, #bloc3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

#bloc4, #bloc5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}
